{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify Email</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container">
    <!-- Left Section -->
    <div class="left">
      <div class="logo">
        <i class="ri-file-list-line"></i>
        <span>Todo-List App</span>
      </div>
      <p class="welcome">Hey! <br><small>Please enter your Email to verify your account</small></p>

      <div class="toggle-links">
     <a href=""></a>
      </div>

       {% if messages %}
          <div> 
            {% for message in messages %}
              {% if "reset_password" in message.tags %}
                <p> {{ message }}</p>
              {% endif %}
            {% endfor %}
         </div>
        {% endif %}

      <form method="post">
        {% csrf_token %}
        <div class="input-group">
          <i class="ri-lock-line"></i>
          <input type="password" placeholder="New password" id="password1" name="password1" required>
        </div>

         <div class="input-group">
          <i class="ri-lock-line"></i>
          <input type="password" placeholder="Confirm password" id="password2" name="password2" required>
        </div>

        <button  type="submit" class="btn-login">Login</button>

       
      </form>
    </div>

    <!-- Right Section -->
    <div class="right">
      <div class="glass">
        <p>© 2025 Mild. All rights reserved.</p>
      </div>
    </div>
  </div>
</body>
</html>